<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<mapping class="br.gov.receita.fazenda.ws.cnpj.CNPJPerfil3"/>
		<mapping class="br.gov.receita.fazenda.ws.cpf.PessoaPerfil3"/>
	</session-factory>
</hibernate-configuration>
